# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log
logs/*.log
debug.log

# Build files
dist/
build/

# Database files
*.sqlite
*.sqlite3
*.db

# JWT secret keys or environment variables
.env.local
.env.development
.env.production
.env.test
.env.*

# Ignore VS Code settings
.vscode/

# MacOS & Linux system files
.DS_Store
*.swp
